<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494990746249-h6hmjuep5trqvigbqdvhpelu9qbgivrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494990746249-h6hmjuep5trqvigbqdvhpelu9qbgivrl</string>
	<key>API_KEY</key>
	<string>AIzaSyDnYotgXy8k03ui1Hj9yUqthlTl8W-10bI</string>
	<key>GCM_SENDER_ID</key>
	<string>494990746249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ShoppingList-Firebase</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-c2012</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-c2012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494990746249:ios:df7576d2a26e3ce7d61c58</string>
</dict>
</plist>